
  @import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


*{
    margin:0;
    
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

nav
{
    display:flex;
    justify-content: space-between;
    background-color: black;
    color:white;
    height: 50px;
    align-items: center;
    position: fixed;
    top:0;
    width:100%;

    
}

nav a {
    text-decoration: none;
    color: white;
    padding:30px;
    padding-top: 15px;
    padding-bottom: 15px;
   
}





.nav-left p{
    font-size: 45px;
    font-family:'Grape Nuts';
    margin-left:50px;
}

.nav-right a:hover{
    transition-delay: 50ms;
    background-color: rgb(68, 62, 62); 
    border-radius: 5px;
    font-size: 20px;
}

.nav-right a:active{
    opacity: 0.5;
}

.home{
    background-image: url("images/portfolio-background.png");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

    height: 100vh;
    width:100%;
   


}

.name{
    margin:auto;
    padding-top:38vh;
    padding-left: 30vh;
    
    }

.venkata , .viswas{
    font-size: 80px;
    font-family:Rajdhani ;
    font-weight: 100px;
}

.venkata{
    color: #ffffff;
}

.viswas{
    color:rgb(120, 220, 245);
  
}

.about{
    font-size:30px;
    font-weight: 500px;
    font-style: italic;
    color:rgb(255, 152, 152);
    margin-top:10px;
    height:1000px;
    width:100%;
    display:block;
    
    
   
}

.about-center{
    background-image: url("images/about-background.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    height:100vh;
    padding: 400px;
    
}

.about-center{
    color:rgb(0, 24, 240);
    font-weight: bolder;
   
}


.about-center p{
    background-color: azure;
    color: black;
    border-radius: 80px;
    padding:5%;
    
}
